<div class="content_about">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
      <div class="text-center"><h1 class="welcome">Bienvenue à vous !</h1> </div>
          <div class="text-center"><h3 class="title_membre">Devenez membre</h3></div>


      	<%= form_for (@intervenant), :class =>" form-signin" do |f| %>
         <%= render "shared/error_messages", :target => @intervenant %>


         <%= f.text_field :firstname, class:"form-control", :placeholder => "Votre prénom" %>
         
         <p>
             <input type="checkbox" value="remember-me">
           Veuillez lire <%= link_to "les statuts" , statuts_path, :class => "#" %>
           de l'association CREA RUN avant de valider votre inscrpition
          </p>

		     <%= f.submit :value => "Validez",  :class => "btn btn-lg btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
